body {
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	background-color: #000000;
}
/* Fits everything to a container, following the original aspect ratio (550x1600) */
.wrapper {
	margin: auto;
	transition: 1s;
}
.defaultWidth {
	width: 68.75vh;
	height: 100vh;
}
.fullWidth {
	width: 100%;
	height: 145.454545vw;
}
.trueSize {
	width: 1100px;
	height: 1600px;
}
.pageContain {
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
}
.pageContain, .comicText, .comicFrame {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.comicFrame, .comicText {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
/* Comic gets darker with point hover */
.blackLayer {
	background-color: #000000;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	transition: 1.5s;
	transition-delay: 0.2s
}
.pageContain:hover > .blackLayer {
	opacity: 0.66;
	transition: 0.5s;
	transition-delay: 0.2s
}
/* Invisible divs that activate :hover functions */
.activeArea {
	position: absolute;
	opacity: 0;
	background-color: red;
	z-index: 1000;
}
.activated1, .activated2, .activated3, .activated4, .activated5, .activated6, .activated7, .activated8 {
	opacity: 0;
}
.active1:hover ~ .activated1, .active2:hover ~ .activated2, .active3:hover ~ .activated3, .active4:hover ~ .activated4, .active5:hover ~ .activated5, .active6:hover ~ .activated6, .active7:hover ~ .activated7, .active8:hover ~ .activated8 {
	opacity: 1;
}
.comicText {
	transition: 0.4s;
	transition-delay: 0.1s;
}
.comicFrame {
	transition: 0.3s;
}
