body {
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	background-color: #000000;
}
.wrapper {
	margin: auto;
	transition: 1s;
}
.defaultWidth {
	width: 68.75vh;
	height: 100vh;
}

.fullWidth {
	width: 100%;
	height: 145.454545vw;
}
.trueSize {
	width: 1100px;
	height: 1600px;
}
.pageContain {
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
}
.pageContain, .comicText, .comicFrame {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.comicText, .comicFrame {
	height: 100%;
	width: 100%;
}
.comicFrame, .comicText {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.activeArea {
	position: absolute;
	opacity: 0;
	background-color: red;
	z-index: 1000;
}
.blackLayer {
	background-color: #000000;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	transition: 1.5s;
	transition-delay: 0.2s
}
.pageContain:hover > .blackLayer {
	opacity: 0.66;
	transition: 0.5s;
	transition-delay: 0.2s
}
.activated1, .activated2, .activated3, .activated4, .activated5, .activated6, .activated7, .activated8 {
	opacity: 0;
}
.active1:hover ~ .activated1, .active2:hover ~ .activated2, .active3:hover ~ .activated3, .active4:hover ~ .activated4, .active5:hover ~ .activated5, .active6:hover ~ .activated6, .active7:hover ~ .activated7, .active8:hover ~ .activated8 {
	opacity: 1;
}
.comicText {
	transition: 0.4s;
	transition-delay: 0.1s;
}
.comicFrame {
	transition: 0.3s;
}
#page09 {
	background-image: url(page09_full.png);
}
.page09f01 {
	background-image: url(page09_01.png);
}
.page09f02 {
	background-image: url(page09_02.png);
}
.page09f03 {
	background-image: url(page09_03.png);
}
.page09f04 {
	background-image: url(page09_04.png);
}
.page09f05 {
	background-image: url(page09_05.png);
}
.page09f06 {
	background-image: url(page09_06.png);
}
.page09f07 {
	background-image: url(page09_07.png);
}
.page09f08 {
	background-image: url(page09_08.png);
}
.page09t01 {
	background-image: url(page09_01t.png);
}
.page09t02 {
	background-image: url(page09_02t.png);
}
.page09t03 {
	background-image: url(page09_03t.png);
}
.page09t04 {
	background-image: url(page09_04t.png);
}
.page09t05 {
	background-image: url(page09_05t.png);
}
.page09t06 {
	background-image: url(page09_06t.png);
}
.page09t07 {
	background-image: url(page09_07t.png);
}
.page09t08 {
	background-image: url(page09_08t.png);
}
